/* Body Style */
body {
	margin: 0;
	padding: 0;
	background-color: aliceblue;
}
/* Main Style */
main {
	position: absolute;
	left: 0;
	right: 0;
	margin: auto;
}
/* Link Style */
a {
	font-size: 20px;
	color: purple;
	text-decoration: none;
}

a:hover {
	color: rgb(175, 174, 174);
}
.timer {
	float: right;
	font-size: 20px;
	font-weight: bold;
	color: purple;
}
/* Article Style */
article {
	height: 50%;
	width: auto;
	margin-top: 6%;
}
/* H1 Style */
h1 {
	text-align: center;
	padding: 10% 0 6% 0;
	font-size: 34px;
	color: rgb(54, 54, 54);
}
/* H2 Style */
h2 {
	text-align: center;
	font-size: 30px;
	color: rgb(54, 54, 54);
}
/* New H2 Style */
.newh2 {
	text-align: left;
	margin: 10% 0 5% 20%;
}
.finalH2 {
	color: purple;
}
/* Paragraph Style */
p {
	text-align: left;
}
.finalP {
	text-align: center;
	margin-top: 5%;
	font-size: 24px;
}
/* Start Button Style */
.pstart {
	text-align: center;
}
.start {
	margin-top: 6%;
	width: 160px;
	font-size: 20px;
	background-color: purple;
}
/* Question Button Style */
.quest {
	margin: 1% 0 0 20%;
	width: 180px;
	font-size: 16px;
	background-color: purple;
}
.submitDiv {
	float: left;
	margin: 2% 0 0 20%;
}
.submitForm {
	float: left;
	width: 160px;
	margin: 1% 0 0 3.5%;
}
.submitButton {
	float: right;
	text-align: center;
	margin: 1% 20% 0 0;
	width: 80px;
	height: 30px;
	font-size: 16px;
	background-color: purple;
}
/* Alert Message Styling */
.message {
	width: 40%;
	margin: 2% 0 0 31%;
	position: relative;
	text-align: left;
	padding-left: 3%;
	text-emphasis: bold;
}

/* Form Style */
.initialsSumbit {
	margin-top: 5.5%;
	margin-left: 3%;
	float: left;
}
.formSubmit {
	margin-top: 4%;
	margin-left: 4%;
	float: left;
	width: 28%;
}
.buttonSubmit {
	margin-top: 3.5%;
	margin-right: 7%;
	float: right;
	width: 20%;
}
.hidden {
	display: none;
}

/** Special styling for screens under 768px **/
@media only screen and (max-width: 768px) {
	article {
		margin-top: 20%;
	}
	h1 {
		font-size: 32px;
	}
	h2 {
		font-size: 28px;
	}
	.quest {
		margin-left: 27%;
	}
	.newh2 {
		text-align: center;
		font-size: 28px;
		margin: 0% 0 5% 0;
	}

	.start {
		margin-top: 35px;
	}
	.initialsSumbit {
		margin-left: 2%;
		float: left;
	}
	.formSubmit {
		margin-right: 2%;
		width: 35%;
		float: right;
	}
	.buttonSubmit {
		float: left;
		margin-left: 31%;
		width: 40%;
	}
}
/** Special styling for screens under 600px **/
@media only screen and (max-width: 600px) {
	article {
		margin-top: 20%;
		height: 50%;
		padding: 0 3%;
	}
	.quest {
		margin-left: 20%;
	}
	.newh2 {
		text-align: center;
		font-size: 22px;
	}
	.finalP {
		font-size: 20px;
	}
	.message {
		text-align: center;
	}
	.initialsSumbit {
		margin-left: 10%;
		float: left;
	}
	.formSubmit {
		margin-right: 10%;
		float: right;
	}
	.buttonSubmit {
		float: left;
		margin-left: 31%;
		width: 40%;
	}
}
