/* Body Style */
body {
	margin: 0;
	padding: 0;
	background-color: aliceblue;
}
/* Main Style */
main {
	margin-top: 10px;
}
/* Link Style */
a {
	font-size: 20px;
	color: purple;
	text-decoration: none;
}

a:hover {
	color: rgb(175, 174, 174);
}
.timer {
	float: right;
	font-size: 20px;
	font-weight: bold;
	color: purple;
}
/* Article Style */
article {
	height: 460px;
	width: auto;
	margin: 100px auto 10px auto;
}
/* H1 Style */
h1 {
	padding: 50px 0 40px 0;
	font-size: 34px;
	color: rgb(54, 54, 54);
}
/* H2 Style */
h2 {
	font-size: 28px;
	color: rgb(54, 54, 54);
}
/* New H2 Style */
.newh2 {
	text-align: center;
	margin: 50px 0 25px 25px;
}
/* Paragraph Style */
p {
	text-align: left;
	padding: 0;
	margin: 0;
}
/* Start Button Style */
.start {
	margin-top: 70px;
	width: 160px;
	font-size: 20px;
	background-color: purple;
}
/* New Button Style */
.new {
	margin: 10px 0 0 120px;
	width: 120px;
	font-size: 16px;
	background-color: purple;
}
/** Special styling for screens under 768px **/
@media only screen and (max-width: 768px) {
	h1 {
		padding: 30px 0 40px 0;
	}
	.start {
		margin-top: 35px;
	}
	.new {
		margin-left: 50px;
	}
}
/* * Special styling for screens under 600px **/
@media only screen and (max-width: 600px) {
	article {
		margin-top: 60px;
		height: 500px;
		padding: 0 15px;
	}
	h1 {
		font-size: 30px;
	}
	.new {
		margin-left: 40px;
	}
}
